In [1]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns
import datetime
from datetime import date, timedelta

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.externals import joblib
from scipy.stats import norm
from sklearn.model_selection import train_test_split
from pandas.plotting import scatter_matrix

import pylab as pl
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

import pickle

from sklearn.tree import DecisionTreeClassifier

from sklearn.tree import export_graphviz 
    #In the cmd line type: conda install python-graphviz
import graphviz
import os
os.environ["PATH"] += os.pathsep + 'D:/Program Files (x86)/Graphviz2.38/bin/'

from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import roc_curve
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv("no_show_original_data_2016_with_update_weather.csv") 
df=df.drop(['Unnamed: 0'], axis=1)

In [47]:
#ScheduledDay קיצוץ התאריך של והופך את התאריך לסוג דייטיים
df['ScheduledDay'] =df['ScheduledDay'].apply(str)
df['ScheduledDay'] = df['ScheduledDay'].str.slice(0, 10, 1) 
df['ScheduledDay'] =  pd.to_datetime(df['ScheduledDay'], format='%Y-%m-%d')

0       2016-04-29
52751   2016-04-29
52750   2016-04-29
52749   2016-04-29
52748   2016-04-29
Name: AppointmentDay, dtype: datetime64[ns]

In [4]:
# הפיכת שדות מז"א למספריים
df['prcp']=df['prcp'].astype(float).astype(int)
df['temp']=df['temp'].astype(float).astype(int)

In [5]:
#AppointmentDay הופך את התאריך לסוג דייטיים
df['AppointmentDay'] =df['AppointmentDay'].apply(str)
df['AppointmentDay'] = df['AppointmentDay'].str.slice(0, 10, 1) 
df['AppointmentDay'] =  pd.to_datetime(df['AppointmentDay'], format='%Y-%m-%d')

In [6]:
# הכנסת קודים לשכונות
df.loc[:, 'Neighbourhood_codes'] = df["Neighbourhood"].astype("category").cat.codes+1
# הפיכת שדות קטגוריים לבינריים
df.loc[:, 'Gender_'] = df["Gender"].astype("category").cat.codes
#Woman=0, Man=1
df.loc[:, 'No-show_'] = df["No-show"].astype("category").cat.codes
#show=0, no-show=1

In [7]:
#הוספת שדה של יום בשבוע של הבדיקה
dayOfWeek={0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday', 4:'Friday', 5:'Saturday', 6:'Sunday'}
df['Appointment_Week_Day'] = df['AppointmentDay'].dt.dayofweek.map(dayOfWeek)

In [8]:
#הוספת שדה של המרווח בין הבדיקות
df['Delta_Dates'] = (df['AppointmentDay']-df['ScheduledDay']).dt.days
# בדיקות שתואמו אחרי הבדיקה עצמה יופיעו כמינוס 1-כי לא הגיוני
mask = df.Delta_Dates < 0
column_name = 'Delta_Dates'
df.loc[mask, column_name] = -1

In [9]:
# חיתוך כל מי שיש לו דלתא קטנה מ1
#df[df.Delta_Dates < 1] מוחק
#38562 רשומות של פגישות שנקבעו באותו תאריך
# 5 רשומות של דלתא שלילית=לא הגיוני
df = df.drop(df[df.Delta_Dates < 1].index)

In [10]:
#Get Dummies לימי השבוע של הפגישה
week_day=pd.get_dummies(df["Appointment_Week_Day"])
week_day["AppointmentID"] = df["AppointmentID"]
df=df.merge(week_day, how='left', on='AppointmentID')
df = df.drop(['Appointment_Week_Day'], axis=1)

In [11]:
# מוסיף עמודה של כמות פגישות לכל מטופל
a=df.groupby(['PatientId']).size().reset_index(name='Appointment_counts')
df=df.merge(a, how='left', on='PatientId')
#בדיקה עצמית לקוד
#df.loc[df['PatientId'] == 1.885170e+14]

In [12]:
#Get Dummies לשכונות
NC=pd.get_dummies(df["Neighbourhood_codes"])
NC["AppointmentID"] = df["AppointmentID"]
df=df.merge(NC, how='left', on='AppointmentID')

In [13]:
df["yesterday"] = df["AppointmentDay"] - timedelta(1)

In [215]:
df = df.sort_values(by='AppointmentDay')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71959 entries, 0 to 48112
Columns: 110 entries, PatientId to meetings_per_day
dtypes: datetime64[ns](3), float64(2), int32(2), int64(11), int8(3), object(3), uint8(86)
memory usage: 17.6+ MB

In [258]:
mpd = df["AppointmentDay"].value_counts().sort_index()
mpd.index[22]

Timestamp('2016-06-02 00:00:00')

In [281]:
df["yesterday_no_show_percentage"] = '0'

for i, row in df.iterrows():
    yesterday_date=df.iloc[i]["yesterday"]
    #חיתוך לדאטהפריים של אתמול בלבד
    df_yesterday=df[df["AppointmentDay"] == yesterday_date] 
    countt=df_yesterday['No-show_'].count()
    summ= df_yesterday['No-show_'].sum()
    if count>0: 
        df.set_value(i,"yesterday_no_show_percentage",summ/countt, takeable=False)

C:\Users\lapid\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: RuntimeWarning: invalid value encountered in longlong_scalars
  # Remove the CWD from sys.path while we load stuff.
C:\Users\lapid\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.

In [274]:
conditions = [(df['AppointmentDay'] == mpd.index[0]),
             (df['AppointmentDay'] == mpd.index[1]),
             (df['AppointmentDay'] == mpd.index[2]),
             (df['AppointmentDay'] == mpd.index[3]),
             (df['AppointmentDay'] == mpd.index[4]),
             (df['AppointmentDay'] == mpd.index[5]),
             (df['AppointmentDay'] == mpd.index[6]),
             (df['AppointmentDay'] == mpd.index[7]),
             (df['AppointmentDay'] == mpd.index[8]),
             (df['AppointmentDay'] == mpd.index[9]),
             (df['AppointmentDay'] == mpd.index[10]),
             (df['AppointmentDay'] == mpd.index[11]),
             (df['AppointmentDay'] == mpd.index[12]),
             (df['AppointmentDay'] == mpd.index[13]),
             (df['AppointmentDay'] == mpd.index[14]),
             (df['AppointmentDay'] == mpd.index[15]),
             (df['AppointmentDay'] == mpd.index[16]),
             (df['AppointmentDay'] == mpd.index[17]),
             (df['AppointmentDay'] == mpd.index[18]),
             (df['AppointmentDay'] == mpd.index[19]),
             (df['AppointmentDay'] == mpd.index[20]),
             (df['AppointmentDay'] == mpd.index[21]),
             (df['AppointmentDay'] == mpd.index[22]),
             (df['AppointmentDay'] == mpd.index[23]),
             (df['AppointmentDay'] == mpd.index[24]),
             (df['AppointmentDay'] == mpd.index[25]),
             (df['AppointmentDay'] == mpd.index[26])]
choices = [mpd[0], mpd[1],mpd[2],mpd[3],mpd[4],mpd[5],mpd[6],mpd[7],mpd[8],mpd[9],mpd[10],mpd[11],mpd[12],mpd[13],
          mpd[14], mpd[15],mpd[16],mpd[17],mpd[18],mpd[19],mpd[20],mpd[21],mpd[22],mpd[23],mpd[24],mpd[25],mpd[26]]
df['meetings_per_day'] = np.select(conditions, choices, default='0')

In [ ]:
choices = []

In [282]:
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,...,75,76,77,78,79,80,81,yesterday,meetings_per_day,yesterday_no_show_percentage
0,2.366230e+14,5628286,M,2016-04-27,2016-04-29,0,SÃO BENEDITO,0,0,0,...,1,0,0,0,0,0,0,2016-04-28,2182,NaN
17053,1.284760e+14,5631071,M,2016-04-27,2016-04-29,19,CONSOLAÇÃO,0,0,0,...,0,0,0,0,0,0,0,2016-04-28,2182,NaN
17055,6.971810e+13,5623000,F,2016-04-26,2016-04-29,19,TABUAZEIRO,0,0,0,...,0,0,0,0,1,0,0,2016-04-28,2182,NaN
28936,1.711900e+13,5521211,M,2016-03-29,2016-04-29,32,MARIA ORTIZ,0,0,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.270063
52751,7.544920e+13,5625104,F,2016-04-27,2016-04-29,56,CENTRO,0,0,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
52750,1.484140e+12,5573128,F,2016-04-12,2016-04-29,56,GRANDE VITÓRIA,0,1,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
52749,9.977160e+14,5451635,F,2016-03-10,2016-04-29,56,GURIGICA,0,0,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
52748,7.537280e+13,5636838,F,2016-04-28,2016-04-29,56,ILHA DO PRÍNCIPE,0,1,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
52747,2.349970e+11,5413185,F,2016-03-01,2016-04-29,56,DO CABRAL,0,1,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
52746,4.727620e+13,5601894,M,2016-04-19,2016-04-29,56,SÃO JOSÉ,0,0,0,...,0,0,1,0,0,0,0,2016-04-28,2182,0.294015
52745,7.116340e+14,5502125,F,2016-03-22,2016-04-29,56,RESISTÊNCIA,0,1,1,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
52744,8.361420e+13,5611825,F,2016-04-25,2016-04-29,56,JUCUTUQUARA,0,1,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
52743,7.123990e+13,5631867,M,2016-04-28,2016-04-29,56,PRAIA DO CANTO,0,0,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
52742,1.482630e+13,5600587,F,2016-04-19,2016-04-29,56,GRANDE VITÓRIA,0,0,1,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
52741,2.178300e+13,5531300,F,2016-03-31,2016-04-29,56,JOANA D´ARC,0,0,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
52740,6.787690e+11,5563183,M,2016-04-08,2016-04-29,56,JARDIM DA PENHA,0,1,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
52739,1.918230e+12,5625001,F,2016-04-26,2016-04-29,56,VILA RUBIM,0,1,1,...,0,0,0,0,0,0,1,2016-04-28,2182,0.294015
52738,2.667290e+12,5592387,M,2016-04-18,2016-04-29,56,CENTRO,0,1,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
52737,6.771830e+14,5629128,F,2016-04-27,2016-04-29,56,COMDUSA,0,1,1,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
52736,7.113870e+13,5634080,M,2016-04-28,2016-04-29,56,CENTRO,0,1,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
52735,5.412290e+13,5510409,F,2016-03-23,2016-04-29,56,SOLON BORGES,0,0,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
52734,5.142790e+13,5493693,F,2016-03-21,2016-04-29,56,SÃO CRISTÓVÃO,0,1,0,...,0,1,0,0,0,0,0,2016-04-28,2182,0.294015
52733,9.873740e+12,5631146,F,2016-04-27,2016-04-29,56,MARUÍPE,0,1,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
52732,1.726360e+11,5631239,F,2016-04-27,2016-04-29,56,TABUAZEIRO,0,0,1,...,0,0,0,0,1,0,0,2016-04-28,2182,0.294015
52731,3.772420e+11,5574534,F,2016-04-12,2016-04-29,56,SANTO ANTÔNIO,0,1,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.294015
9184,8.211530e+12,5624107,M,2016-04-26,2016-04-29,9,CARATOÍRA,1,0,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.277427
9185,8.783880e+13,5568957,M,2016-04-11,2016-04-29,9,NOVA PALESTINA,0,0,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.277427
9186,6.179540e+12,5472950,F,2016-03-15,2016-04-29,9,NOVA PALESTINA,0,0,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.277427
9187,9.439380e+13,5603805,M,2016-04-20,2016-04-29,9,SÃO PEDRO,1,0,0,...,0,0,0,1,0,0,0,2016-04-28,2182,0.277427
9188,5.984220e+14,5565582,F,2016-04-11,2016-04-29,9,CENTRO,1,0,0,...,0,0,0,0,0,0,0,2016-04-28,2182,0.277427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3861,8.246300e+12,5649066,M,2016-05-02,2016-06-08,2,MARIA ORTIZ,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,NaN
42170,3.464390e+14,5778267,M,2016-06-06,2016-06-08,45,ITARARÉ,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.285118
7327,9.818930e+12,5701275,F,2016-05-16,2016-06-08,6,SANTA TEREZA,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.290172
9864,4.944950e+12,5685422,M,2016-05-11,2016-06-08,9,BONFIM,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.277427
41170,7.586670e+11,5734751,F,2016-05-24,2016-06-08,44,DO QUADRO,0,1,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.283951
32678,5.542450e+12,5668510,F,2016-05-06,2016-06-08,35,REDENÇÃO,0,1,0,...,0,0,0,0,0,0,0,2016-06-07,2942,NaN
56989,1.497850e+14,5779061,F,2016-06-06,2016-06-08,59,MARIA ORTIZ,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.243894
62454,2.874470e+14,5777203,F,2016-06-06,2016-06-08,65,BOA VISTA,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.264416
42113,7.975140e+13,5775133,M,2016-06-06,2016-06-08,45,SÃO BENEDITO,0,0,0,...,1,0,0,0,0,0,0,2016-06-07,2942,0.285118
42146,2.794540e+14,5778491,F,2016-06-06,2016-06-08,45,JESUS DE NAZARETH,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.285118
42147,6.229160e+12,5768546,F,2016-06-03,2016-06-08,45,RESISTÊNCIA,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.285118
7319,1.252950e+14,5684773,F,2016-05-11,2016-06-08,6,JESUS DE NAZARETH,1,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.290172
42160,1.192900e+14,5775944,F,2016-06-06,2016-06-08,45,SANTO ANTÔNIO,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.285118
7318,7.492740e+13,5715860,F,2016-05-18,2016-06-08,6,JESUS DE NAZARETH,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.290172
62467,7.397690e+13,5773334,F,2016-06-06,2016-06-08,65,SANTO ANTÔNIO,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.264416
32731,6.185450e+13,5773210,M,2016-06-06,2016-06-08,35,ITARARÉ,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,NaN
9851,7.622820e+11,5768595,F,2016-06-03,2016-06-08,9,DA PENHA,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.277427
9852,7.622820e+11,5768596,F,2016-06-03,2016-06-08,9,DA PENHA,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.277427
7313,2.599260e+11,5735287,F,2016-05-25,2016-06-08,6,DO QUADRO,1,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.290172
9855,2.117990e+14,5778741,M,2016-06-06,2016-06-08,9,PRAIA DO SUÁ,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.277427
42166,3.394972e+08,5761778,F,2016-06-02,2016-06-08,45,SÃO JOSÉ,0,0,0,...,0,0,1,0,0,0,0,2016-06-07,2942,0.285118
32724,8.569150e+14,5757917,M,2016-06-01,2016-06-08,35,SANTA TEREZA,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,NaN
9856,1.598780e+14,5715870,M,2016-05-18,2016-06-08,9,PRAIA DO SUÁ,1,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.277427
32721,8.189450e+13,5757721,M,2016-06-01,2016-06-08,35,ROMÃO,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,NaN
7312,2.599260e+11,5735288,F,2016-05-25,2016-06-08,6,DO QUADRO,1,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.290172
42135,3.848320e+13,5693576,F,2016-05-13,2016-06-08,45,SEGURANÇA DO LAR,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.285118
32697,8.592860e+12,5583128,F,2016-04-14,2016-06-08,35,MONTE BELO,0,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,NaN
62457,4.214930e+14,5777261,M,2016-06-06,2016-06-08,65,JESUS DE NAZARETH,0,1,1,...,0,0,0,0,0,0,0,2016-06-07,2942,0.264416
42191,3.126130e+14,5754791,M,2016-05-31,2016-06-08,45,TABUAZEIRO,0,1,0,...,0,0,0,0,1,0,0,2016-06-07,2942,0.285118
48112,2.614560e+12,5698693,F,2016-05-16,2016-06-08,51,CARATOÍRA,1,0,0,...,0,0,0,0,0,0,0,2016-06-07,2942,0.310429

In [236]:
for i in range(0,26):
    if df["AppointmentDay"][i] in amd.index[i]:
        print(i)

TypeError: argument of type 'Timestamp' is not iterable

לסכום לכל שורה את סך הפגישות של אתמול

In [248]:
u_days= df["AppointmentDay"].unique()
u_days

array(['2016-04-29T00:00:00.000000000', '2016-05-02T00:00:00.000000000',
       '2016-05-03T00:00:00.000000000', '2016-05-04T00:00:00.000000000',
       '2016-05-05T00:00:00.000000000', '2016-05-06T00:00:00.000000000',
       '2016-05-09T00:00:00.000000000', '2016-05-10T00:00:00.000000000',
       '2016-05-11T00:00:00.000000000', '2016-05-12T00:00:00.000000000',
       '2016-05-13T00:00:00.000000000', '2016-05-14T00:00:00.000000000',
       '2016-05-16T00:00:00.000000000', '2016-05-17T00:00:00.000000000',
       '2016-05-18T00:00:00.000000000', '2016-05-19T00:00:00.000000000',
       '2016-05-20T00:00:00.000000000', '2016-05-24T00:00:00.000000000',
       '2016-05-25T00:00:00.000000000', '2016-05-30T00:00:00.000000000',
       '2016-05-31T00:00:00.000000000', '2016-06-01T00:00:00.000000000',
       '2016-06-02T00:00:00.000000000', '2016-06-03T00:00:00.000000000',
       '2016-06-06T00:00:00.000000000', '2016-06-07T00:00:00.000000000',
       '2016-06-08T00:00:00.000000000'], dtype='datetime64[ns]')

In [66]:
df["AppointmentDay"][3122]

Timestamp('2016-06-08 00:00:00')

In [187]:
for i in df["AppointmentDay"]:
    if df["AppointmentDay"][i] in meetings["AppointmentDay"]:
        print(i)

KeyError: Timestamp('2016-04-29 00:00:00')

In [246]:
meetings["Appointment_day"]

KeyError: 'Appointment_day'

In [ ]:
df['meeting_per_day'] = np.select(conditions, choices, default='black')

In [183]:
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,...,74,75,76,77,78,79,80,81,yesterday,meetings_per_day
0,2.366230e+14,5628286,M,2016-04-27,2016-04-29,0,SÃO BENEDITO,0,0,0,...,0,1,0,0,0,0,0,0,2016-04-28,NaN
52751,7.544920e+13,5625104,F,2016-04-27,2016-04-29,56,CENTRO,0,0,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
52750,1.484140e+12,5573128,F,2016-04-12,2016-04-29,56,GRANDE VITÓRIA,0,1,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
52749,9.977160e+14,5451635,F,2016-03-10,2016-04-29,56,GURIGICA,0,0,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
52748,7.537280e+13,5636838,F,2016-04-28,2016-04-29,56,ILHA DO PRÍNCIPE,0,1,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
52747,2.349970e+11,5413185,F,2016-03-01,2016-04-29,56,DO CABRAL,0,1,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
52746,4.727620e+13,5601894,M,2016-04-19,2016-04-29,56,SÃO JOSÉ,0,0,0,...,0,0,0,1,0,0,0,0,2016-04-28,NaN
52745,7.116340e+14,5502125,F,2016-03-22,2016-04-29,56,RESISTÊNCIA,0,1,1,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
52744,8.361420e+13,5611825,F,2016-04-25,2016-04-29,56,JUCUTUQUARA,0,1,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
52743,7.123990e+13,5631867,M,2016-04-28,2016-04-29,56,PRAIA DO CANTO,0,0,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
52742,1.482630e+13,5600587,F,2016-04-19,2016-04-29,56,GRANDE VITÓRIA,0,0,1,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
52741,2.178300e+13,5531300,F,2016-03-31,2016-04-29,56,JOANA D´ARC,0,0,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
52740,6.787690e+11,5563183,M,2016-04-08,2016-04-29,56,JARDIM DA PENHA,0,1,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
52739,1.918230e+12,5625001,F,2016-04-26,2016-04-29,56,VILA RUBIM,0,1,1,...,0,0,0,0,0,0,0,1,2016-04-28,NaN
52738,2.667290e+12,5592387,M,2016-04-18,2016-04-29,56,CENTRO,0,1,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
52737,6.771830e+14,5629128,F,2016-04-27,2016-04-29,56,COMDUSA,0,1,1,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
52736,7.113870e+13,5634080,M,2016-04-28,2016-04-29,56,CENTRO,0,1,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
52735,5.412290e+13,5510409,F,2016-03-23,2016-04-29,56,SOLON BORGES,0,0,0,...,1,0,0,0,0,0,0,0,2016-04-28,NaN
52734,5.142790e+13,5493693,F,2016-03-21,2016-04-29,56,SÃO CRISTÓVÃO,0,1,0,...,0,0,1,0,0,0,0,0,2016-04-28,NaN
52733,9.873740e+12,5631146,F,2016-04-27,2016-04-29,56,MARUÍPE,0,1,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
52732,1.726360e+11,5631239,F,2016-04-27,2016-04-29,56,TABUAZEIRO,0,0,1,...,0,0,0,0,0,1,0,0,2016-04-28,NaN
52731,3.772420e+11,5574534,F,2016-04-12,2016-04-29,56,SANTO ANTÔNIO,0,1,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
9184,8.211530e+12,5624107,M,2016-04-26,2016-04-29,9,CARATOÍRA,1,0,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
9185,8.783880e+13,5568957,M,2016-04-11,2016-04-29,9,NOVA PALESTINA,0,0,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
9186,6.179540e+12,5472950,F,2016-03-15,2016-04-29,9,NOVA PALESTINA,0,0,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
9187,9.439380e+13,5603805,M,2016-04-20,2016-04-29,9,SÃO PEDRO,1,0,0,...,0,0,0,0,1,0,0,0,2016-04-28,NaN
9188,5.984220e+14,5565582,F,2016-04-11,2016-04-29,9,CENTRO,1,0,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
9189,2.921470e+13,5592287,F,2016-04-18,2016-04-29,9,PARQUE MOSCOSO,0,0,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
52752,4.967770e+11,5628714,F,2016-04-27,2016-04-29,56,SÃO JOSÉ,0,0,0,...,0,0,0,1,0,0,0,0,2016-04-28,NaN
9190,2.499580e+14,5530673,F,2016-03-31,2016-04-29,9,SANTO ANTÔNIO,0,0,0,...,0,0,0,0,0,0,0,0,2016-04-28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42214,3.979810e+12,5773648,F,2016-06-06,2016-06-08,45,JESUS DE NAZARETH,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
32713,1.975840e+11,5726019,F,2016-05-20,2016-06-08,35,BELA VISTA,0,1,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
32640,6.123160e+13,5774409,M,2016-06-06,2016-06-08,35,SÃO CRISTÓVÃO,0,0,0,...,0,0,1,0,0,0,0,0,2016-06-07,NaN
3861,8.246300e+12,5649066,M,2016-05-02,2016-06-08,2,MARIA ORTIZ,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
42170,3.464390e+14,5778267,M,2016-06-06,2016-06-08,45,ITARARÉ,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
69426,6.932190e+14,5766802,F,2016-06-02,2016-06-08,78,ILHA DO PRÍNCIPE,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
7327,9.818930e+12,5701275,F,2016-05-16,2016-06-08,6,SANTA TEREZA,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
42134,6.592780e+13,5685873,F,2016-05-11,2016-06-08,45,JABOUR,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
42135,3.848320e+13,5693576,F,2016-05-13,2016-06-08,45,SEGURANÇA DO LAR,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
42140,7.791780e+11,5779087,F,2016-06-06,2016-06-08,45,DA PENHA,0,1,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
42141,1.257310e+11,5654945,F,2016-05-03,2016-06-08,45,SANTA TEREZA,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
18794,1.191520e+12,5778603,M,2016-06-06,2016-06-08,20,SÃO CRISTÓVÃO,1,0,0,...,0,0,1,0,0,0,0,0,2016-06-07,NaN
42146,2.794540e+14,5778491,F,2016-06-06,2016-06-08,45,JESUS DE NAZARETH,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
42147,6.229160e+12,5768546,F,2016-06-03,2016-06-08,45,RESISTÊNCIA,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
7319,1.252950e+14,5684773,F,2016-05-11,2016-06-08,6,JESUS DE NAZARETH,1,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
42160,1.192900e+14,5775944,F,2016-06-06,2016-06-08,45,SANTO ANTÔNIO,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
7318,7.492740e+13,5715860,F,2016-05-18,2016-06-08,6,JESUS DE NAZARETH,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
62467,7.397690e+13,5773334,F,2016-06-06,2016-06-08,65,SANTO ANTÔNIO,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
32731,6.185450e+13,5773210,M,2016-06-06,2016-06-08,35,ITARARÉ,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
9851,7.622820e+11,5768595,F,2016-06-03,2016-06-08,9,DA PENHA,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
9852,7.622820e+11,5768596,F,2016-06-03,2016-06-08,9,DA PENHA,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
7313,2.599260e+11,5735287,F,2016-05-25,2016-06-08,6,DO QUADRO,1,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
9855,2.117990e+14,5778741,M,2016-06-06,2016-06-08,9,PRAIA DO SUÁ,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
42166,3.394972e+08,5761778,F,2016-06-02,2016-06-08,45,SÃO JOSÉ,0,0,0,...,0,0,0,1,0,0,0,0,2016-06-07,NaN
32724,8.569150e+14,5757917,M,2016-06-01,2016-06-08,35,SANTA TEREZA,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
9856,1.598780e+14,5715870,M,2016-05-18,2016-06-08,9,PRAIA DO SUÁ,1,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
32721,8.189450e+13,5757721,M,2016-06-01,2016-06-08,35,ROMÃO,0,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
7312,2.599260e+11,5735288,F,2016-05-25,2016-06-08,6,DO QUADRO,1,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
42172,7.172450e+13,5575506,F,2016-04-13,2016-06-08,45,SANTA CECÍLIA,0,1,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN
48112,2.614560e+12,5698693,F,2016-05-16,2016-06-08,51,CARATOÍRA,1,0,0,...,0,0,0,0,0,0,0,0,2016-06-07,NaN

In [176]:
meetings = pd.DataFrame(df.groupby('AppointmentDay').count()[::1][1])
meetings

                   1
AppointmentDay
2016-04-29      2182
2016-05-02      2788
2016-05-03      2689
2016-05-04      2811
2016-05-05      2739
2016-05-06      2513
2016-05-09      2849
2016-05-10      2731
2016-05-11      2952
2016-05-12      2866
2016-05-13      2608
2016-05-14        31
2016-05-16      2997
2016-05-17      2860
2016-05-18      2916
2016-05-19      2876
2016-05-20      2534
2016-05-24      2445
2016-05-25      2486
2016-05-30      2874
2016-05-31      2866
2016-06-01      2937
2016-06-02      2844
2016-06-03      2679
2016-06-06      3073
2016-06-07      2871
2016-06-08      2942

In [21]:
# הורדת שדות מיותרים
#df = df.drop(columns=['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay', 'No-show', 'Neighbourhood', 'Neighbourhood_codes','AppointmentDay'], axis = 1)

new_index_order = ['Age','Gender_','Delta_Dates','SMS_received', 'Friday', 'Monday', 'Saturday', 'Thursday', 'Tuesday', 'Wednesday','Scholarship', 'Hipertension', 'Diabetes', 'Alcoholism',
       'Handcap','No-show_']
df = df.reindex(columns=new_index_order)

In [31]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,...,73,74,75,76,77,78,79,80,81,yesterday
0,2.366230e+14,5628286,M,2016-04-27,2016-04-29,0,SÃO BENEDITO,0,0,0,...,0,0,1,0,0,0,0,0,0,2016-04-28
1,1.885170e+14,5616082,M,2016-04-25,2016-04-29,0,ILHA DAS CAIEIRAS,0,0,0,...,0,0,0,0,0,0,0,0,0,2016-04-28
2,2.718820e+14,5628321,M,2016-04-27,2016-04-29,0,CONQUISTA,0,0,0,...,0,0,0,0,0,0,0,0,0,2016-04-28
3,3.326990e+12,5632495,F,2016-04-28,2016-04-29,0,SANTO ANTÔNIO,0,0,0,...,0,0,0,0,0,0,0,0,0,2016-04-28
4,8.468590e+14,5560742,M,2016-04-08,2016-04-29,0,PRAIA DO SUÁ,0,0,0,...,0,0,0,0,0,0,0,0,0,2016-04-28

In [137]:
pickle.dump(df, open("df_c.dat", "wb"))